body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(214, 214, 34);
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 50px auto;
  background-color: #868484;
  border-radius: 10px;
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.5);
}

h1,
h2 {
  text-align: center;
  padding: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

form input {
  margin: 0 5px;
}

form button {
  cursor: pointer;
}

/* Add styles for other elements as needed */
input[type='submit'] {
  background-color: #000000;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #989f0e;
}

/* Different style for delete button */
input.delete-button {
  background-color: #a0a1aa;
}

input.delete-button:hover {
  background-color: #747477;
}
